<div class="row">
        <div class="col-sm-8" id="headings">
		<div heading-id="<%= heading.id %>">
			<h3><%= heading.title %></h3>
			<p><%= heading.text %> </p>
		
		<%= link_to 'Edit', edit_business_context_heading_path(@headerable,heading), remote: true , :class=>'btn btn-default'%>
		<%= link_to 'Delete', business_context_heading_path(@headerable,heading), remote: true, method: :delete,data: {confirm: 'Are you sure?' }, :class=>'btn btn-default'%>
		</div>
	</div>
</div>
