<div actor-id="<%= actor.id %>">
	<div class="row" >
		<div class="col-sm-10">
			<div class="row headercontainer">
				<div class="col-sm-6">
					<h2>
						<%= actor.name%>
					</h2>
				</div>
				<div class="col-sm-2 headerglyph actions">
					<%= link_to '', actor_path(actor),
						      method: :delete,
						      data: { confirm: 'Do you want to delete the Actor completely? \n If you only want to remove the actor from this request, use the X' },
						      class: 'btn btn-default glyphicon glyphicon-trash', remote: true %>
					<%if params.has_key?(:request_id) || :show_unlink? %>
						<%= link_to '', unlink_request_actor_path(@request, actor),
							method: :delete,
							data: {confirm: 'Are you sure?'},
							class: 'btn btn-default glyphicon glyphicon-remove-sign', remote: true %>
						<%= link_to '', edit_request_actor_path(@request, actor), 
							class: 'btn btn-default glyphicon glyphicon-pencil', remote: true %>
						
					<% else %>
						<%= link_to '', edit_actor_path(actor),
							class: 'btn btn-default glyphicon glyphicon-pencil', remote: true %>
					<% end %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<p>Platform: <%= actor.platform %><br></p>
					<p>Protocol: <%= actor.protocol %><br></p>
				</div>
			</div>
			
		</div>
	</div>
</div>
