<div actor-id="<%= actor.id %>">
	<div class="col-xs-12 col-sm-4">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-7">
						<%= actor.name%>
					</div>
					<div class="col-sm-5 ">
						<%if params.has_key?(:request_id) || local_assigns.has_key?(:unlink) %>
							<%= link_to '', unlink_request_actor_path(@request, actor),
								method: :delete,
								data: {confirm: 'Are you sure?'},
								class: 'btn btn-default glyphicon glyphicon-remove-sign', 
								remote: true %>
						
							<%= link_to '', edit_request_actor_path(@request, actor), 
								class: 'btn btn-default glyphicon glyphicon-pencil',
								unlink: true,
								remote: true %>
							
						<% else %>
							<%= link_to '', actor_path(actor),
								      method: :delete,
								      data: { confirm: 'Do you want to delete the Actor completely?' },
								      class: 'btn btn-default glyphicon glyphicon-trash', 
								      remote: true %>
							<%= link_to '', edit_actor_path(actor),
								class: 'btn btn-default glyphicon glyphicon-pencil', 
								remote: true %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="panel-body">
						<p>Platform: <%= actor.platform %><br></p>
						<p>Protocol: <%= actor.protocol %><br></p>
			</div>
			<div class="panel-footer">
				<span class="text-muted">Owner:</span>
				<%= render actor.owners , :ownerable => actor%>
			</div>
		</div>
	</div>
</div>
