<div actor-id="<%= @actor.id %>">
	<div class="col-xs-12 col-sm-4">
		<div class="panel panel-info">
			<%= form_for @actor, html: {class: 'form-horizontal'}, url: actor_path(@actor, request_id: @request.id), remote: true do |f| %>
			<div class="panel-heading">
				<div class="row">
					<div class="col-sm-10">
						<%= f.text_field :name, class: 'form-control' %>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div class="field form-group">
					<div class="col-sm-4">
						<%= f.label :platform , class: 'col-sm-1 control-label' %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :platform, class: 'form-control' %>
					</div>
				</div>
				<div class="field form-group">
					<div class="col-sm-4">
						<%= f.label :protocol , class: 'col-sm-1 control-label' %>
					</div>
					<div class="col-sm-8">
						<%= f.text_field :protocol, class: 'form-control' %>
					</div>
				</div>
				<%= f.submit 'Save', class: 'btn btn-primary' %>
			</div>
			<% end %>
			<div class="panel-footer">
					<span class="text-muted">Owners:</span>
					<table id="owners">
						<%= render @actor.owners, :ownerable => @actor , :removeable => true%>
					</table>
					<%= render 'owners/existing_owners', :ownerable => @actor, :request => @request %>
			</div>
		</div>
	</div>
</div>
