<tr id="owner-id-<%= owner.id %>" class="padding-3">
	<td><b><%= owner.firstname %></b></td>
	<td><b>	<%= owner.lastname %></b></td> 
	<% if local_assigns.has_key? :small_owner %>
		<td><a href="mailto:<%= owner.email %>"><%= owner.email %></a></td>
		<td><%= owner.phone %></td>
	<% end %>
	<% if local_assigns.has_key? :removeable %>
		<td><%= link_to '', owner_path(owner,:ownerable_type => ownerable.class.name,:ownerable_id => ownerable.id ,:owner => owner), class: 'glyphicon glyphicon-remove',method: :delete, remote: true %></td>
	<% end %>
</tr>
