<%= form_for @flow , :html => {:role => 'form'}, url: request_flow_path(@request, @flow), remote: true do |f| %>

      <div class="row">
        <div class="col-xs-12 col-sm-12" >
          <section class ="panel panel-primary">
            <header class="panel-heading">
              <div class="row">
                <div class="col-xs-5 col-xs-offset-4">
                  <h1 class="panel-title" ><%= f.text_field :name, class: 'form-control' %></h1>
                </div>
                <div class="col-xs-2">

                </div>
              </div>
            </header>
            <div class="panel-body">
              <div class="col-sm-3 ">
                <h4 class="text-muted">Provider(s)</h4>
                <%= f.collection_select :provider_ids, @request.actors.all, :id, :name, {},{class: 'form-control selectpicker', multiple: true}  %>
                <br>
              </div>
	      <div class="col-sm-6">
		      <div class="row">
				<h4 class="text-muted">Message</h4>
				<div class="col-sm-4">
				  Size: <%= f.select :size,
						     options_for_select([
									    ['< 1kb','< 1kb'],
									    ['< 1mb','< 1mb']
									]), {},{class: 'form-control'}%>
				</div>
				<div class="col-sm-4">
				  Security: <%= f.select :security,
							 options_for_select([
										['O','O'],
										['I','I'],
										['C','C']
									    ]), {},{class: 'form-control'}%>
				</div>
				<div class="col-sm-4">
					Masterdata: <br>
					Yes: 
					<%= f.radio_button :master_data, true, class: ''%>
					No
					<%= f.radio_button :master_data, false, class: ''%>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					Message Frequency: 
					<%= f.text_area :frequency, 
					class: 'form-control',
					:placeholder => "eg. Ranging from 1 message per hour up to 10 per minute."%>
				</div>
			</div>
              </div>
              <div class="col-sm-3 ">
                <h4 class="text-muted">Consumer(s)</h4>
                <%= f.collection_select :consumer_ids, @request.actors.all, :id, :name, { },{class: 'form-control',multiple: true} %>
                <br>
              </div>
            </div>
            <div class="panel-footer">
              <h4 class="text-muted">Objective</h4>
              <%= f.text_area :objective , class: 'form-control'%>

            </div>
          </section>
          <div class="row">
            <div class="col-sm-offset-4 col-sm-3">
              <%= f.submit class: "btn btn-primary btn-lg btn-block btn-info" %>


            </div>

          </div>
      </div>
<% end %>
