<%= form_for @flow , :html => {:role => 'form'}, url: request_flow_path(@request, @flow), remote: true do |f| %>

      <div class="row">
        <div class="col-xs-12 col-sm-12" >
          <section class ="panel panel-primary">
            <header class="panel-heading">
              <div class="row">
                <div class="col-xs-5 col-xs-offset-4">
                  <h1 class="panel-title" ><%= f.text_field :name, class: 'form-control' %></h1>
                </div>
                <div class="col-xs-2">

                </div>
              </div>
            </header>
            <div class="panel-body">
              <div class="col-sm-3 ">
                <h4 class="text-muted">Provider(s)</h4>
                <%= f.collection_select :provider_ids, @request.actors.all, :id, :name, {},{class: 'form-control selectpicker', multiple: true}  %>
                <br>
              </div>
              <div class="col-sm-6">
                <h4 class="text-muted">Message</h4>
                <div class="col-sm-4">
                  Size: <%= f.select :size,
                                     options_for_select([
                                                            ['< 1kb','< 1kb'],
                                                            ['< 1mb','< 1mb']
                                                        ]), {},{class: 'form-control'}%>
                </div>
                <div class="col-sm-4">
                  Security: <%= f.select :security,
                                         options_for_select([
                                                                ['kb','< 1kb'],
                                                                ['< 1mb','< 1mb']
                                                            ]), {},{class: 'form-control'}%>
                </div>
              </div>
              <div class="col-sm-3 ">
                <h4 class="text-muted">Consumer(s)</h4>
                <%= f.collection_select :consumer_ids, @request.actors.all, :id, :name, { },{class: 'form-control',multiple: true} %>
                <br>
              </div>
            </div>
            <div class="panel-footer">
              <h4 class="text-muted">Objective</h4>
              <%= f.text_area :objective , class: 'form-control'%>

            </div>
          </section>
          <%= f.submit class: 'btn btn-primary'%>
        </div>
      </div>
<% end %>
