<div class="row">
	<div class="col-sm-10">
		<div flow-id="<%= flow.id %>">
			<div class="row img-rounded headercontainer">
				<div class="col-sm-6">
					<h2>
							<%= flow.name%>
					</h2>
				</div>
				<div class="col-sm-2 headerglyph actions">
					<%= link_to '', request_flow_path(@request,flow),
						      method: :delete,
						      data: { confirm: 'Are you sure?' },
						      class: 'btn btn-default glyphicon glyphicon-trash', remote: true %>
					<%= link_to '', edit_request_flow_path(@request,flow),
						class: 'btn btn-default glyphicon glyphicon-pencil', remote: true %>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-8">
					<%= flow.objective %><br>
					Provider: <% flow.provider do |f|%><br>
							<%= f.name %>
							<% end %><br>
					Consumer: <% flow.consumers.each  do |c|%>
							<%= c.name %><br>
						<%end%>
				</div>		
			</div>
			</div>
		</div>
	</div>
</div>
