<div class="col-sm-10">

<p> New Request 
<%= link_to new_request_path, :class=>'btn btn-default btn-xs' do %>
<i class="glyphicon glyphicon-plus"></i>
<% end %>
</p>
<h1>Listing requests</h1>
 
<table class="table table-condensed table-hover">
	<tr>
		<thead>
			<tr>
			<th>Integration</th>
			<th>Owner</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<tr>
		</thead>
	</tr>
  <% @requests.each do |request| %>
	<tr>
		<td><%= request.name %></td>
		<td><%= request.owner%></td>
		<td><%= request.created_at.strftime("%b %d, %Y")%></td>
		<td><%= link_to 'Show', request_path(request), :class => 'btn btn-default' %>  </td>  
		<td><%= link_to 'Edit', edit_request_path(request), :class => 'btn btn-default' %>  </td>
		<td><%= link_to 'Destroy', request_path(request), method: :delete, data: {confirm: 'Are you sure you want to delete?'}, :class => 'btn btn-default'  %> </td>
	</tr>
  <% end %>
</table>

</div>
