<p>
	Title:	<%= @request.name %><br>
	Company:	<%= @request.company %><br>
	Project Manager:	<%= @request.owner %><br>
	Creation date:	<%= @request.creation_date %><br>
	<br>
	<br>
	<%= link_to 'Business Context', request_business_context_path(@request) %>
	
	
</p>
<%= link_to 'Edit', edit_request_path(@request) %>
