<div class="row">

<div class="col-sm-10 headercontainer">
	<div class="col-sm-6">
		<h2><%= @request.name %> </h2>
	</div>
	<div class="col-sm-2 headerglyph">
		<%= link_to edit_request_path(@request), :class=>'btn btn-default' do %>
				<i class="glyphicon glyphicon-pencil"></i>
		<% end %>
	</div>
</div>

</div>
<div class="row">
	<br>
	<div class="row">
		<div class="col-sm-3 textleft">Project Manager:</div>
		<div class="col-sm-3 textright"><%= @request.owner %></div>
	</div>
	<div class="row">
		<div class="col-sm-3 textleft">Creation date:</div>	
		<div class="col-sm-3 textright"><%= @request.created_at %></div>
	</div>
	<div class="row">
		<div class="col-sm-6 ">
			<h3>Project Stakeholders</h3>
			<table id="owners">
				<%= render @request.owners, ownerable: @request, :small_owner => true, :removeable => true %>
			</table>
			<br>
			<%= render 'owners/form', ownerable: @request  %>
		</div>
	</div>
</div>
