<p>
	Title:	<%= @request.name %><br>
	Company:	<%= @request.company %><br>
	Project Manager:	<%= @request.owner %><br>
	Creation date:	<%= @request.creation_date %><br>
	<br>
	<br>
	Business Context:<br>
	<%= @request.bc.description %>
	
</p>
