<h1>Business Context</h1>

<%= form_for  [@request,@bc] do |bc|  %>
	<% if @bc.errors.any? %>
		<div id="error">
			<%= pluralize(@bc.errors.count, "error") %> 
			<ul>
				<% @bc.errors.full_message.each do |e| %>
					<li><%= e %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="col-sm-8">
			<h3>Description</h3>
			<%= bc.text_area :description %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h3>As-Is</h3>
			<%= bc.text_area :as_is_image %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h3>To-Be</h3>
			<%= bc.text_area :to_be_image %>
		</div>
	</div>
	<% @bc.custom_headings.each do |ch| %>
	<div class="row">
		<div class="col-sm-8">
			<% render edit_custom_heading_path(ch.id) %>
		</div>
	</div>
	<% end %>
	<p>
		<%= bc.submit %>
	</p>
<% end %>
