<h1>Business Context</h1>

<%= nested_form_for [@request,@bc] do |bc|  %>
	<% if @bc.errors.any? %>
		<div id="error">
			<%= pluralize(@bc.errors.count, "error") %> 
			<ul>
				<% @bc.errors.full_message.each do |e| %>
					<li><%= e %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="row">
		<div class="col-sm-8">
			<h3>Description</h3>
			<%= bc.text_area :description %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h3>As-Is</h3>
			<%= bc.text_area :as_is_image %>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<h3>To-Be</h3>
			<%= bc.text_area :to_be_image %>
		</div>
	</div>
	<%= bc.fields_for :headings %>
	<div class="row" >
		<div class="col-sm-8" id="custom_headings">
			<%-#Denna kommer alltså loopa ut alla CustomHeadings, behövs ingen for each från @bc #-%>
			<%-# nested_forms_ som står för detta #-%>
			<%= bc.fields_for :headings do |heading_form| %>
				<div class="heading" style="border:1px solid black">
					Heading: <%= heading_form.text_field :title %><br>
					Text: <%= heading_form.text_area :text %><br>
					<%= heading_form.link_to_remove "Remove this Heading" %>
				</div>
			<% end %>
		</div>
		<div>
			<%= bc.link_to_add "Add Custom Heading", :headings, :data => {:target => "#custom_headings" } %>
		</div>
	</div>
	<p>
		<%= bc.submit %>
	</p>
<% end %>
