<div class="row">
    <div class="col-sm-4">
	<h3>Description:</h3>
	<p><%= @bc.description %></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
	<h3>As-Is:</h3>
	<p><%= @bc.as_is_image %></p>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
	<h3>To-Be:</h3>
	<p><%= @bc.to_be_image %></p>
    </div>
</div>
<div id="headings">
	<%-# sätter headerable till bc, då _headings partialen är tänkt att vara polymorfisk. dvs oboeroende av vilken context den är %>
	<% @headerable = @bc %>
	<%= render @headings %>
</div>
<div style="display:none" class="row" id="heading-form">
	<div class="col-sm-8">

	</div>
</div>
<div>
<%= link_to 'New Heading' , new_business_context_heading_path(@bc), class: 'btn btn-default' ,remote: true  %>
</div>
<br>
