<div class="col-sm-2" id="upload-<%= upload.id %>" style=" ">
		<div style="display:block; width:100px; height:100px;  margin-left:auto; margin-right:auto;">
			<%if upload.attachment.present?%>
				<% if local_assigns[:edit]  %>
					<div class="img-wrap">
						<%= link_to  '',heading_upload_path(heading,upload), remote: true, method: :delete,data: {confirm: 'Are you sure?' }, :class=>'btn btn-lg glyphicon glyphicon-remove-circle close' , :heading_id => heading.id %>
						
					</div>
				<% end%>

				<% if upload.attachment.content_type.include? "image" %>
					<%=link_to (image_tag (upload.attachment.url(:original)),:alt => upload.name, :class => "img-thumbnail thumbnail inline", :style => "max-width:100%, max-height:100%, display:block"), upload.attachment.url(:original, false)%>
				<% else %>
					<%=link_to (image_tag 'doc-icon.png',:alt => upload.name, :class => "img-thumbnail thumbnail inline", :style => "width:100px, height:100px"), upload.attachment.url(:original, false)%>
				<% end %>
			<% end %>
		</div>
	<p class="text-center"><%= upload.name %></p>
</div>

