<!DOCTYPE html>
<html>
<head>
  <title>RequestForm | <%= params[:controller] %></title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="navcontainer">
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<h1>Baseline Integration Request</h1>
					</div>
					<div class="col-sm-2">
						<h2>Demo AB</h2>
					</div>
					<div class="col-sm-1">
						<%= link_to requests_path, :class=>'btn btn-link btn-small' do %>
							<i class="glyphicon glyphicon-home"></i>
							<% end %>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="container maincontainer">
		<div class="row">
			<div class="col-xs-12">
				<a href="/requests">Requests</a> | <a href="/actors">Actors </a>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<%= render 'request_nav_bar' unless @disable_nav %>
			</div>
		</div>
		<div class="row row-top-20">
			<div class="container">
				<%= yield %>
			</div>
		</div>
	</div>
	
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
